<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Valley Express</title>
        <meta name="description" content="A community based Transportation System">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        
        <h1>Valley Express</h1>
        <h2>A Community Based Transportation System</h2>
        <p>
            Transportation as well as Traffic and Congestion is an issue in the area of the Rio Grande Valley. What if we could
            alleviate these issues with resources already at our disposal, without having to re-invent an entirely new
            system?
        </p>
        <h3>A Solution to the Problem</h3>
        <p>
            For a while now Houston and other "big" cities have had a "fast lane" system in place to help with reducing
            the amount of congestion during rush hour. Although this does help, having to introduce a new system to users
            and modifying roads to handle this new system is expensive and not very  easy to achieve.
        </p>
        <p>
            Valley Express <em>is a different type of Car Pooling System.</em>
            The way to attempt and fix this issue could be an Uber + Car Pooling system merger. Uber is a great system as you
            always have a way to get to somewhere. This solves transportation issues (kinda), but that still doesn't
            help with the traffic and only gets you to certain areas. CarPooling helps with traffic and transportation 
            but still is only limited to only a certain group of people who have access to this system. With Valley Express
            drivers would be able to offer rides at a price or for free. Other users would be able to hitch a ride if
            theres a route available.
        </p>
        <h3>How Does it Work?</h3>
        <p>
            Ever driving across the RGV for a simple errand and wish you could've saved yourself the trip or gas money
            also? With Valley Express you could inform other users that you will be making the trip and allowing
            others to hitch a ride with you if they need to. By doing this the amount of cars on the road is reduced by 1
            and possibly more depending on the amount of members you are willing to take with you. The driver at the same
            time is able to charge a fee for the commute, helping with gas fees.</br></br>
            <a href="/">Home</a>
        </p>
        <div class="copyright">
            &copy;Design: <a href="https://templated.co">TEMPLATED</a>
        </div>
    </body>
</html>

